@charset "UTF-8";
/**
 * 作品：myreset.css
 * 维护：白小明
 * 更新：2017年7月30日
 * 理念：1. 适应中文，基于最新主流浏览器
 *       2. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
 *       3. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
 */
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
pre, dl, dt, dd, ul, ol, li,
form, fieldset, lengend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

/* 重置列表元素 */
ul, ol {
  list-style: none;
}

/* 重置文本格式元素 */
a {
  text-decoration: none;
}

q:before, q:after {
  content: '';
}

/* 重置表单元素 */
legend {
  color: #000;
}

/* for ie6 */
button, textarea {
  font-size: 100%;
  border: 0;
}

/* 使得表单元素在 ie 下能继承字体大小 */
fieldset, img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 清除浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
}

/* 文字选中效果 */
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

/* 浏览器升级 */
.browser-up {
  padding: 1rem;
  background: #ccc;
  text-align: center;
}

/* 移动设备 */
body {
  /* -webkit-text-size-adjust: none; */
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #222;
  color: #fff;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2qevqt");
  src: url("../fonts/icomoon.eot?2qevqt#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2qevqt") format("truetype"), url("../fonts/icomoon.woff?2qevqt") format("woff"), url("../fonts/icomoon.svg?2qevqt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before {
  content: "\e900";
}

.icon-close:before {
  content: "\e901";
}

.icon-add:before {
  content: "\e902";
}

.icon-play-mini:before {
  content: "\e903";
}

.icon-playlist:before {
  content: "\e904";
}

.icon-music:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-clear:before {
  content: "\e907";
}

.icon-delete:before {
  content: "\e908";
}

.icon-favorite:before {
  content: "\e909";
}

.icon-not-favorite:before {
  content: "\e90a";
}

.icon-pause:before {
  content: "\e90b";
}

.icon-play:before {
  content: "\e90c";
}

.icon-prev:before {
  content: "\e90d";
}

.icon-loop:before {
  content: "\e90e";
}

.icon-sequence:before {
  content: "\e90f";
}

.icon-random:before {
  content: "\e910";
}

.icon-back:before {
  content: "\e911";
}

.icon-mine:before {
  content: "\e912";
}

.icon-next:before {
  content: "\e913";
}

.icon-dismiss:before {
  content: "\e914";
}

.icon-pause-mini:before {
  content: "\e915";
}
